# Default ignored files
/shelf/
/workspace.xml
../out/
# Datasource local storage ignored files
/../../../../../../:\Users\Oracle\IdeaProjects\Input_Output\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
